{% extends 'todo/base.html' %}

{% block content %}
<div class="container text-center">
    <h1> Completed Tasks </h1>
    <br>
    <div class="row">
    {% for categories in categories %}
        <h3>{{ categories }}</h3>
    {% for todos in todos %} 
    {% if todos.category == 'd' and categories == 'Daily' or todos.category == 'w' and categories == 'Weekly' or todos.category == 'm' and categories == 'Monthly' or todos.category == 'q' and categories == 'Quarterly' or todos.category == 'y' and categories == 'Yearly' %}
    <div class="card bg-warning col-2">
        <div class="card-body">
        <h5 class="card-title">{{ todos.title }}</h5>
        {% if todos.description %}
        <p class="card-text">{{ todos.description }}</p>
        {% endif %}
        {{ todos.completed|date:'M j Y H:i'}}
            <a href="{% url 'viewtodo' todos.id %}" class="btn btn-primary">View Task</a>
            <form method="POST" action="{% url 'uncompletetodo' todos.id %}">
                {% csrf_token %}
            <button type="submit" class="btn btn-primary">ReDo</button>
            </form>
            <form method="POST" action="{% url 'deletetodo' todos.id %}">
                {% csrf_token %}
            <button type="submit" class="btn btn-primary">Delete</button>
            </form>

        </div>
    </div>
    <br></br>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>

{% endblock %}